body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
  text-align: justify;
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  background: #eee;
  padding: 5px;
  border-radius: 5px;
}
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }

h2 { border-bottom: 3px solid; }

footer { font-size: 90%; font-family: monospace; }

figure { padding: 4px; margin: 4px; }

.centered {
  margin: 2em auto;
}

.image {
  display: block;
  text-align: center;
  margin: 2em auto;
}

.inlineimage {
  display: inline-block;
  margin: 1em 1em;
}

.imagecaption { 
  text-align: center;
  font-size: 0.75em; 
  font-style: italic;
  color: #555555; 
}

.gallery {
  display: flex;
  align-items: baseline;
}

nav {
    position: fixed;
    z-index: 1;
    top: 100px;
    right: 100px;
    font-size: 0.75em;
    border: 1px solid gray;
    overflow-x: hidden;
    padding-right: 20px;
}

/* publication entry */
.pub-entry {}

/* publication title */
.pub-title { font-size: 14pt; }

/* publication authors */
.pub-authors { color: gray; font-style: italic; }

.pub-where {}

.pub-pic {
    float: right;
    display : inline-block;
    max-height: 100%;
    width: auto;
}

.proj-pic {
    float: left;
    margin-right: 5mm;
}

